<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key ="path" value="C:\Users\Kiryl_Navumenka@epam.com\WORKSPACE\Part 5\Task 3\Customers.xml"/>
    <add key ="TestPath" value="C:\Users\Kiryl_Navumenka@epam.com\WORKSPACE\Part 5\Task 3\CustomersForTest.xml"/>
    
  </appSettings>
</configuration>